{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Bitte beantworten Sie die folgenden Fragen
{% endblock %}

{% block content %}
<p>
<b>Vielen Dank für Ihre Teilnahme. Bitte beantworten Sie die folgenden Fragen.
Die Umfrage wird ungefähr weitere 10 Minuten dauern.
Anschließend erhalten Sie Ihre Auszahlung
</b>
</p>
    {% formfields %}



  <!-- Weiter Button separat platziert -->
<div style="text-align: right; margin-top: 15px;">
    <button class="btn btn-primary" name="next">Weiter</button>
</div>

{% endblock %}