{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Verständnisfragen
{% endblock %}

{% block content %}
<hr>

<p>
    Die folgenden Fragen prüfen Ihr Verständnis der Instruktionen.
</p>

<p>
    <b>Wenn Sie sich bei einer Antwort unsicher sind, können Sie die Instruktionen unten auf der Seite erneut ansehen!</b>
</p>

<div class="card">
    <div class="card-header">
        <b>1. Welche Auszahlungen sind für die folgende Lotterie möglich?</b>
    </div>

    <div class="card-body">
        <div class="text-center">
            <table class="table table-bordered" style="text-align: center">
                <thead>
                    <tr class="table-primary" style="border-color: black">
                        <th colspan="4">Lotterie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Wahrscheinlichkeit</th>
                        <td>20 %</td>
                        <td>40 %</td>
                        <td>40 %</td>
                    </tr>
                    <tr>
                        <th>Auszahlung</th>
                        <td>0 Münzen</td>
                        <td>30 Münzen</td>
                        <td>80 Münzen</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        {% formfield player.seller_comp_1 label="Bitte wählen Sie eine der folgenden Aussagen aus:" %}
    </div>
</div>

<br>

<div class="card">
    <div class="card-header">
        <b>2. Wie hoch ist die Wahrscheinlichkeit, 30 Münzen in der folgenden Lotterie zu erhalten?</b>
    </div>

    <div class="card-body">
        <div class="text-center">
            <table class="table table-bordered" style="text-align: center">
                <thead>
                    <tr class="table-primary" style="border-color: black">
                        <th colspan="4">Lotterie</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Wahrscheinlichkeit</th>
                        <td>50 %</td>
                        <td>40 %</td>
                        <td>10 %</td>
                    </tr>
                    <tr>
                        <th>Auszahlung</th>
                        <td>0 Münzen</td>
                        <td>30 Münzen</td>
                        <td>200 Münzen</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        {% formfield player.seller_comp_2 label="Bitte wählen Sie eine der folgenden Aussagen aus:" %}
    </div>
</div>

<br>

<div class="card">
    <div class="card-header">
        <b>3. Welchen Bonus werden Sie erhalten, falls sie in der Lage sind ihre Lotterie zu verkaufen?</b>
    </div>

    <div class="card-body">
        {% formfield player.seller_comp_3 label="Bitte wählen Sie eine der folgenden Aussagen aus:" %}
    </div>
</div>

<br>

<div class="card">
    <div class="card-header">
        <b>4. Welchen Bonus werden Sie erhalten, falls sie <b> nicht </b>in der Lage sind ihre Lotterie zu verkaufen??</b>
    </div>

    <div class="card-body">
        {% formfield player.seller_comp_4 label="Bitte wählen Sie eine der folgenden Aussagen aus:" %}
    </div>
</div>

<br>

<button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#instructionsCollapse">
    Instruktionen anzeigen
</button>

<div class="collapse" id="instructionsCollapse">
    <div class="card card-body">
        {{ include_sibling 'InstructionsForBuyer.html' }}
    </div>
</div>

<div style="text-align: right;">
    {% next_button %}
</div>

{% endblock %}
