{% load otree static %}

<h5>Die Lotterien</h5>
<p>
    In dieser Studie könnende Teilnehmende Lotterien kaufen, die von anderen Teilnehmenden in der Studie angeboten werden.
    Sowohl Käufer als auch Verkäufer können einen zusätzlichen Bonus verdienen.
    Die mögliche Bonushöhe hängt von den Entscheidungen in der Studie ab, zum Beispiel von den
    gewählten Preisen für Lotterien, ob die Lotterie gekauft wird und ggf. vom Ergebnis
    einer zufälligen Ziehung. Der Bonus jedes Teilnehmenden wird daher sowohl von eigenen Entscheidungen, als auch von
    Entscheidungen der anderen Teilnehmenden beeinflusst.
</p>

<p>
    Unten sehen Sie ein Beispiel für eine Lotterie:
</p>

<p>
    <table class="table table-bordered" style="text-align: center">
        <thead>
            <tr class="table-primary" style="border-color: black">
                <th colspan="4">Lotterie</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Wahrscheinlichkeit</th>
                <td>40 %</td>
                <td>30 %</td>
                <td>30 %</td>
            </tr>
            <tr>
                <th>Auszahlung</th>
                <td>20 Münzen</td>
                <td>40 Münzen</td>
                <td>60 Münzen</td>
            </tr>
        <tbody>
    </table>
</p>

<p>
    In diesem Beispiel zahlt die Lotterie entweder 20 Münzen mit 40&nbsp;% Wahrscheinlichkeit,
    oder 40 Münzen mit 30&nbsp;% Wahrscheinlichkeit, oder 60 Münzen mit 30&nbsp;% Wahrscheinlichkeit.
    Wichtig ist: Eine Lotterie zahlt immer nur <b>einen</b> der Beträge aus; sie zahlt also
    <b>entweder</b> 20 Münzen <b>oder</b> 40 Münzen <b>oder</b> 60 Münzen.
</p>

<br>

<h5>Ihre Rolle</h5>
<p>
    Sie wurden der Rolle eines <b>Käufers</b> zugeordnet.
    In diesem Teil der Studie werden Ihnen Lotterieangebote gezeigt, die von anderen
    Teilnehmenden gestaltet wurden. Ihre Aufgabe ist es, diese Lotterien zu beurteilen,
    Ihre Einschätzungen zu ihnen abzugeben und zu entscheiden, ob Sie eine der Lotterien
    kaufen möchten.
</p>

<br>

<h5>Ihre Entscheidungen</h5>

{% if group.group_type == "1S1B" %}
<p>
    In Ihrer Gruppe gibt es <b>einen Verkäufer</b> und <b>einen Käufer</b>.
    Sie sehen daher <b>eine Lotterie</b> pro Runde, die von einer anderen Person in der Studie angeboten wird.
</p>

<p>
    Für diese Lotterie fragen wir Sie zunächst, <b>wie oft Sie glauben, dass Sie den höchsten Gewinn
    dieser Lotterie erhalten würden</b>, wenn Sie die Lotterie <b>100&nbsp;Mal</b> spielen würden.
    Dies ist einfach Ihre persönliche Einschätzung, wie häufig die höchste Auszahlung gezogen werden würde.
</p>

<p>
    Nachdem Sie Ihre Einschätzung abgegeben haben, entscheiden Sie, ob Sie diese Lotterie
    zu dem Preis kaufen möchten, den der Verkäufer festgelegt hat. Sie können entweder die
    Lotterie kaufen oder sich entscheiden, sie <b>nicht</b> zu kaufen.
</p>

{% else %}
<p>
    In Ihrer Gruppe gibt es einen Käufer (Sie) und  <b>zwei Verkäufer</b>.
    Das bedeutet, dass Sie <b>mehr als eine Lotterie</b> pro Runde sehen werden.
    Nach jeder Runde wird eine neue Gruppe mit zwei zufälligen Verkäufern gebildet.
    Das heißt, dass Sie jede Runde auf <b>andere Verkäufer</b> treffen können.
</p>

<p>
    Für jede dieser Lotterien fragen wir Sie zunächst, <b>wie oft Sie glauben, dass Sie den
    höchsten Gewinn</b> erhalten würden, wenn Sie die jeweilige Lotterie <b>100&nbsp;Mal</b> spielen würden.
    Dies ist einfach Ihre persönliche Einschätzung, wie häufig die höchste Auszahlung gezogen werden würde.
</p>

<p>
    Nachdem Sie Ihre Einschätzungen abgegeben haben, entscheiden Sie, ob Sie eine Lotterie
    <b>kaufen</b> möchten und, falls ja, <b>welche</b>.
    Sie dürfen maximal <b>eine</b> Lotterie kaufen. Das bedeutet, Sie können:
</p>

<ul>
    <li>die Lotterie von Verkäufer 1 kaufen,</li>
    <li>die Lotterie von Verkäufer 2 kaufen,</li>
    <li>oder sich dafür entscheiden, <b>keine</b> Lotterie zu kaufen.</li>
</ul>

{% endif %}

<br>

<h5>Die Bonuszahlung</h5>
<p>
    Insgesamt wird es in der Studie <b>{{ C.N_LOTTERIES }} Runden</b> geben.
    Sie können in jeder Runde zusätzliche Münzen verdienen. Wenn Sie sich für die Details interessieren,
    finden Sie unten auf der Seite eine ausführliche Beschreibung des Bonusmechanismus.
</p>

<p>
    Ihre konkrete Bonuszahlung hängt von Ihren Entscheidungen ab:
</p>

<ul>
    <li>
        Wenn Sie eine Lotterie kaufen, wird per Computer eine zufällige Auszahlung dieser Lotterie gezogen,
        und diese Auszahlung bestimmt Ihre Bonuszahlung.
    </li>
    <li>
        Wenn Sie sich entscheiden <b>keine</b> Lotterie zu kaufen, entspricht Ihre Bonuszahlung
        stattdessen dem <b>niedrigeren Preis</b> der beiden Lotterien, die in Ihrer Gruppe angeboten wurden.
    </li>
</ul>

<p>
    Während des Experiments verwenden wir eine fiktive Währung, die wir „Münzen“ nennen.
    Für die Bonuszahlung werden alle Münzen in Euro umgerechnet zum Kurs von
    <b>{{ C.EXCHANGE_RATE }} Münzen = 1 Euro</b>.
</p>

<!-- Button für Details zum Bonusmechanismus -->
<p>
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#paymentMechanism" aria-expanded="false" aria-controls="paymentMechanism">
        Details zum Bonusmechanismus
    </button>
</p>

<!-- Inhalte, die beim Klick sichtbar werden -->
<div class="collapse-content collapse" id="paymentMechanism">
    <div class="card card-body">
        {% include "Experiment/PaymentDetailsGeneral.html" %}
        {% include "Experiment/PaymentExampleGeneral.html" %}
    </div>
</div>



<style>
    .card {
        margin: 0 auto;
        /* Added */
        float: none;
        /* Added */
        margin-bottom: 10px;
        /* Added */
    }
</style>

<script>
    $(document).ready(function() {
      $('[data-toggle="collapse"]').on('click', function() {
        var target = $(this).data('target');
        $(target).slideToggle();
      });
    });
</script>