{% load otree static %}

<h5>Die Lotterien</h5>
<p>
    In dieser Studie könnende Teilnehmende Lotterien kaufen, die von anderen Teilnehmenden in der Studie angeboten werden.
    Sowohl Käufer als auch Verkäufer können einen zusätzlichen Bonus verdienen.
    Die mögliche Bonushöhe hängt von den Entscheidungen in der Studie ab, zum Beispiel von den
    gewählten Preisen für Lotterien, ob die Lotterie gekauft wird und ggf. vom Ergebnis
    einer zufälligen Ziehung. Der Bonus jedes Teilnehmenden wird daher sowohl von eigenen Entscheidungen, als auch von
    Entscheidungen anderer Teilehmender beeinflusst.
</p>

<p>
    Unten sehen Sie ein Beispiel für eine Lotterie:
</p>

<p>
    <table class="table table-bordered" style="text-align: center">
        <thead>
            <tr class="table-primary" style="border-color: black">
                <th colspan="4">Lotterie</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Wahrscheinlichkeit</th>
                <td>40 %</td>
                <td>30 %</td>
                <td>30 %</td>
            </tr>
            <tr>
                <th>Auszahlung</th>
                <td>20 Münzen</td>
                <td>40 Münzen</td>
                <td>60 Münzen</td>
            </tr>
        <tbody>
    </table>
</p>

<p>
    In diesem Beispiel zahlt die Lotterie entweder 20 Münzen mit 40&nbsp;% Wahrscheinlichkeit,
    oder 40 Münzen mit 30&nbsp;% Wahrscheinlichkeit, oder 60 Münzen mit 30&nbsp;% Wahrscheinlichkeit.
    Wichtig ist: Eine Lotterie zahlt immer nur <b>einen</b> der Beträge aus; sie zahlt also
    <b>entweder</b> 20 Münzen <b>oder</b> 40 Münzen <b>oder</b> 60 Münzen.
</p>

<br>

<h5>Ihre Rolle</h5>
<p>
    Sie wurden der Rolle eines <b>Verkäufers</b> zugeordnet.
    In diesem Teil der Studie bieten Sie Lotterien an, die von anderen Teilnehmenden
    (den Käufern) betrachtet werden. Ihre Aufgabe ist es, die Lotterien zu präsentieren,
    einen Preis für Ihre Lotterie festzulegen und Ihre Einschätzung darüber abzugeben,
    wie häufig der Käufer denkt, dass der höchste Gewinn der Lotterie auftreten wird.
    {% if group.group_type == "1S1B" %}

    {% else %}
    In ihrer Gruppe gibt es <b>zwei Verkäufer</b>. Das bedeutet, dass der Käufer neben ihrer Lotterie noch
    eine weitere angeboten bekommt.

    {% endif %}
</p>

<br>

<h5>Ihre Entscheidungen</h5>

<p>
    Für jede Lotterie, die Sie anbieten, treffen Sie mehrere Entscheidungen:
</p>

<ul>
    <li>
        Zunächst wählen Sie, <b>wie die Lotterie präsentiert wird</b>.
        Sie sehen unterschiedliche Darstellungen derselben Lotterie und entscheiden, welche
        Präsentation Sie verwenden möchten.
    </li>
    <li>
        Danach geben Sie an, <b>wie oft Sie glauben, dass der Käufer ihrer Lotterie denkt, dass er/sie den höchsten Gewinn dieser Lotterie
        erhalten würden</b>, wenn Sie die Lotterie <b>100&nbsp;Mal</b> spielen würden.
    </li>
    <li>
        Schließlich legen Sie einen <b>Preis</b> für Ihre Lotterie fest.
        Dieser Preis gibt an, wie viele Münzen ein Käufer zahlen müsste, um Ihre Lotterie zu erwerben.
        In der Studie darf der Preis zwischen 0 und der maximalen Auszahlung der Lotterie liegen
        (also zum Beispiel bis zu 60 Münzen im obigen Beispiel).
    </li>
</ul>

<p>
    Der Käufer in Ihrer Gruppe sieht Ihre Lotterie
    {% if group.group_type == "1S1B" %}
    einschließlich der von Ihnen gewählten Präsentation und Ihres Preises.
    Auf dieser Grundlage entscheidet der Käufer, ob er ihre Lotterie kaufen möchte oder nicht.
    Nach jeder Runde bieten Sie ihre Lotterie einem neuen Käufer an.
    {% else %}
    und die Lotterie eines anderen Verkäufers, einschließlich der gewählten Präsentationen und Preise.
    Auf dieser Grundlage entscheidet der Käufer, ob sie eine Lotterie kaufen möchten und wenn ja, welche.
    Nach jeder Runde wird eine neue Gruppe mit einem weiteren Verkäufer und einem Käufer zufällig gebildet.
    Das heißt, dass Sie jede Runde auf <b>andere Käufer und Verkäufer</b> treffen können.
    {% endif %}


</p>

<br>

<h5>Die Bonuszahlung</h5>
<p>
    Insgesamt wird es in der Studie <b>{{ C.N_LOTTERIES }} Runden</b> geben.
    Sie können in jeder Runde zusätzliche Münzen verdienen.
    Wenn Sie sich für die Details interessieren, finden Sie unten auf der Seite eine ausführliche
    Beschreibung des Bonusmechanismus.
</p>

<p>
    Ihre konkrete Bonuszahlung in der Rolle des Verkäufers hängt davon ab,
    ob Ihre Lotterie gekauft wird:
</p>

<ul>
    <li>
        Wenn der Käufer Ihre Lotterie kauft, ist Ihr Bonus gleich dem von Ihnen gesetzten Preis
        (in Münzen) für diese Lotterie.
    </li>
    <li>
        Wenn der Käufer Ihre Lotterie <b>nicht</b> kauft, erhalten Sie <b>keine</b> Bonuszahlung aus dieser Lotterie.
    </li>
</ul>

<p>
    Während des Experiments verwenden wir eine fiktive Währung, die wir „Münzen“ nennen.
    Für die Bonuszahlung werden alle Münzen in Euro umgerechnet zum Kurs von
    <b>{{ C.EXCHANGE_RATE }} Münzen = 1 Euro</b>.
</p>

<!-- Button für Details zum Bonusmechanismus -->
<p>
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#paymentMechanism" aria-expanded="false" aria-controls="paymentMechanism">
        Details zum Bonusmechanismus
    </button>
</p>

<!-- Inhalte, die beim Klick sichtbar werden -->
<div class="collapse-content collapse" id="paymentMechanism">
    <div class="card card-body">
        {% include "Experiment/PaymentDetailsGeneral.html" %}
        {% include "Experiment/PaymentExampleGeneral.html" %}
    </div>
</div>

<style>
    .card {
        margin: 0 auto;
        float: none;
        margin-bottom: 10px;
    }
</style>

<script>
    $(document).ready(function() {
      $('[data-toggle="collapse"]').on('click', function() {
        var target = $(this).data('target');
        $(target).slideToggle();
      });
    });
</script>
