<h5> The Lotteries </h5>
<p>
    In this study, participants make decisions about lotteries that are offered by other participants in the study.
    Everyone can earn an additional bonus. The potential bonus depends on the decisions made in the study,
    such as prices for lotteries, willingness to pay for lotteries, and possibly the outcome of a random draw.
    The bonus of each participant can therefore depend both on their own decisions and on the decisions of others.
</p>
<p>
    You can find an example of a lottery below:
</p>
<p>
    <table class="table table-bordered" style="text-align: center">
        <thead>
            <tr class="table-primary" style="border-color: black">
                <th colspan="4">Lottery</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> Probability </th>
                <td> 40 % </td>
                <td> 30 % </td>
                <td> 30 % </td>
            </tr>
            <tr>
                <th> Payoff </th>
                <td> 20 coins </td>
                <td> 40 coins </td>
                <td> 60 coins </td>
            </tr>
        <tbody>
    </table>
</p>
<p>
    Here, the lottery pays either 20 coins with 40% probability or 40 coins with 30% probability or 60 coins with 30% probability.
    Importantly, a lottery always only pays out one of the amounts; that is, it pays <b>either</b> 20 coins <b>or</b> 40 coins <b>or</b> 60 coins.
</p>

<br>
<h5> The Decisions and Bonus Payment </h5>
<p>
    In total, there will be <b>{{ C.N_LOTTERIES }} lotteries</b> in the study.
    For each lottery, participants will be asked questions about the lottery.
    Depending on the role that you are assigned later in the experiment,
    you may be asked <b>how to present</b> the lottery, <b>how often you think you would win the highest prize</b> of the lottery
    (i.e., 60 coins in the example above), and/or if you <b>want to buy</b> this lottery.
</p>


<p>
    At the end of the experiment, the computer will randomly select one of the {{ C.N_LOTTERIES }} lotteries for payment.
    The computer will then determine, based on the relevant decisions for this lottery (for example stated prices),
    the potential bonus payment. One out of every 7 participants will be randomly selected to receive this additional bonus. If you are interested in the details, you can find a complete description of
    the payment mechanism at the bottom of the page.
</p>

<p>
    During the experiment, we use a fictitious currency called coins.
    For the bonus payment, coins will be converted into British pound at a rate of {{ C.EXCHANGE_RATE }} coins = 1 British pound.
</p>


<p>
    <table width="100%">
    <tr>
      <td class="align-top">
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#paymentMechanism" aria-expanded="false" aria-controls="paymentMechanism">
          Details on the payment mechanism
        </button>
      </td>
      <td>
        <div style="text-align: right;">
             {{ next_button }}
        </div>
      </td>
    </tr>
  </table>
  <div class="collapse-content" id="paymentMechanism" style="display: none;">
    <div class="card card-body">
      {% include "Experiment/PaymentDetailsGeneral.html" %}
      {% include "Experiment/PaymentExampleGeneral.html" %}
    </div>
  </div>

</p>

<style>
    .card {
        margin: 0 auto;
        /* Added */
        float: none;
        /* Added */
        margin-bottom: 10px;
        /* Added */
    }
</style>

<script>
    $(document).ready(function() {
      $('[data-toggle="collapse"]').on('click', function() {
        var target = $(this).data('target');
        $(target).slideToggle();
      });
    });
</script>
