{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Herzlich Willkommen
{% endblock %}

{% block content %}
<hr>

<div class="row">
    <div class="col">
        <p>
            Vielen Dank für Ihre Teilnahme an diesem Experiment.
        </p>

        <p>
            Diese Studie wird ungefähr {{ C.TIME_TO_FINISH }} Minuten dauern.
        </p>

        <p>
            Für die vollständige Teilnahme erhalten Sie eine feste Vergütung von {{ C.BASE_PAY }}€.
            Bitte lesen Sie alle Instruktionen und Anweisungen sorgfältig und beantworten Sie die dazugehörigen
            Verständnis- und Aufmerksamkeitsfragen korrekt.
        </p>

        <p>
            Sie haben außerdem die Möglichkeit, einen <b><i>zusätzlichen</i> Bonus</b> zu erhalten,
            der von ihren Entscheidungen im Verlauf des Experiments und den Entscheidungen der anderen Teilnehmer abhängt.
        </p>

<!-- Weiter Button separat platziert -->
<div style="text-align: right; margin-top: 15px;">
    <button class="btn btn-primary" name="next">Weiter</button>
</div>
    </div>
</div>

{% endblock %}
