{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Redirecting...
{% endblock %}

{% block content %}
<div style="text-align: center; margin-top: 50px;">
    <h2>Thank you for your participation!</h2>
    <p>You will be redirected to Prolific Completion Page.</p>
    <p>If you are not redirected in five seconds,
       <a href="{{ session.config.prolific_url }}">click</a>.
    </p>
</div>

<!-- Automatic redirecting after 4 seconds -->
<meta http-equiv="refresh" content="4; URL={{ session.config.prolific_url }}" />
{% endblock %}