{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

You have finished all tasks

{% endblock %}



{% block content %}
<hr>

            <p>
                You have completed this study in its entirety. <b>You will receive the fixed reward of <u>£{{ C.BASE_PAY }}</u> credited to your Prolific account.</b>
            </p>
            <p>
                Since you have finished all task, you have qualified for a potential bonus payment. Whether you actually
                receive the bonus payment will be determined the following way:
            </p>
            <p>
                The computer will randomly select one lottery for payout, with equal probability. Using a computer algorithm, we randomly select 1 out ouf every 7 buyers to receive the bonus payment.
            </p>
            <p>
                {% include "Experiment/PaymentDetailsBuyer.html" %}
            </p>
            <p>
                <b>If you won the bonus, we will inform you in the next days using your Prolific-ID.</b>
            </p>



<div style="text-align: right;">
    {% next_button %}
</div>

{% endblock %}
