# Virtual environments
.venv/
venv/

# PyCharm / IDE
.idea/
*.iml

# Python cache
__pycache__/
*.py[cod]

# oTree / Django
db.sqlite3
*.sqlite3
staticfiles/
_static_root/
*.otreezip

# Temporary / OS files
*~
.DS_Store
__temp*

# Bots / misc
_bots*
